In [1]:
# Importing the libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Reading the data set 

dataset = pd.read_csv('Position_Salaries.csv')
dataset

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [3]:
# Diving the dataset into Features and target 

X = dataset.iloc[ : , 1:2].values.astype(float)
y = dataset.iloc[ : , 2:3].values.astype(float)

#3 Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()

X = sc_X.fit_transform(X)
y = sc_y.fit_transform(y)

In [4]:
# Fitting SVR to the dataset

from sklearn.svm import SVR
regressor = SVR(kernel='poly') # most common gaussian karnel
regressor.fit(X,y)

C:\Users\Anik Barua\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='poly', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [6]:
# Making the prediction

# y_pred = regressor.predict(7)